{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_grades/status_icons

    Template for the grade status icons.

    Example context (json):
    {
        "classes": "gradestatus",
        "hidden": true,
        "locked": true,
        "overridden": false,
        "excluded": false,
        "feedback": false
    }
}}
<div class="text-muted {{classes}}">
    {{#hidden}}<span title={{#quote}}{{#str}}hidden, grades{{/str}}{{/quote}}>{{#pix}}i/show, moodle{{/pix}}</span>{{/hidden}}
    {{#locked}}<span title={{#quote}}{{#str}}locked, grades{{/str}}{{/quote}}>{{#pix}}i/lock, moodle{{/pix}}</span>{{/locked}}
    {{#overridden}}<span title={{#quote}}{{#str}}overridden, grades{{/str}}{{/quote}}>{{#pix}}i/overriden_grade, moodle{{/pix}}</span>{{/overridden}}
    {{#excluded}}<span title={{#quote}}{{#str}}excluded, grades{{/str}}{{/quote}}>{{#pix}}i/excluded, moodle{{/pix}}</span>{{/excluded}}
    {{#feedback}}<span title={{#quote}}{{#str}}feedbackprovided, grades{{/str}}{{/quote}}>{{#pix}}i/asterisk, moodle{{/pix}}</span>{{/feedback}}
</div>
